#n-logo {
  width: 25%;
  margin: auto;
}

.n-title {
  margin-top: 27.5vh;
  margin-bottom: 2.55vh;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#logo {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}

#branding {
  width: 100%;
  margin: auto;
}