:root {
  --accentblue: #517896;
  --graphblue: #124e87;
  --graphlightblue: #9fbed6;
  --graphred: #d60e0e;
  --inputbackground: #f0f2f6;
  --othertext: #848484;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.units-box-inputs {
  width: 100%;
  display: inline-flex;
  list-style: none;
  justify-content: center;
  align-content: center;
}

#n-logo {
  width: 25%;
  margin: auto;
}

.n-title {
  margin-top: 20vh;
  margin-bottom: 20vh;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#logo {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
}

.title {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  display: inline-block;
  justify-content: space-between;
  align-content: center;
}

#title {
  width: 100%;
  text-align: center;
  color: var(--accentblue);
}

#preamble-title {
  width: 100%;
  font-size: 150%;
  font-weight: 400;
}

#preamble {
  width: 100%;
  font-size: 100%;
}

.cholesterol-label {
  width: 100%;
}

.cholesterol-units {
  width: 50%;
  display: inline;
  list-style: none;
  justify-content: center;
  align-content: center;
}

.height-units, .weight-units {
  width: 25%;
  display: inline;
  list-style: none;
  justify-content: center;
  align-content: center;
}

.inputs {
  height: auto;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: center;
}

.inputs-col1, .inputs-col2 {
  flex: 50%;
  float: left;
  height: 100%;
  width: 50%;
}

/* Clear floats after the columns */
.inputs:after {
  content: "";
  display: table;
  clear: both;
}

.outer-box {
  float: none;
  margin: 0 auto;
  width: 90vh;
  height: inherit;
}

.left-side, .right-side {
  display: inline-block;
  width: 5vh;
  height: 100%;
}

.age-box, .TC-box, .LDL-box, .HDL-box, .SBP-box, .height-box, .weight-box, .BMI-box {
  justify-content: space-between;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#age-input, #TC-input, #LDL-input, #HDL-input, #SBP-input, #height-input, #weight-input, #BMI-input {
  background-color: var(--inputbackground);
  border-radius: 6px;
  border: solid var(--inputbackground) 1px;
  height: 4vh;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 2%;
}

#sex-box, #trtbp-box, #diab-box, #smoke-box, #fmrtob-box, #famhx-box {
  background-color: var(--inputbackground);
  border-radius: 6px;
  height: 4vh;
  margin-top: 1%;
  margin-bottom: 1%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sex-box, .trtbp-box, .diab-box, .smoke-box, .fmrtob-box, .famhx-box {
  height: 15%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-flex;
}

.sex-box label, .trtbp-box label, .diab-box label, .smoke-box label, .fmrtob-box label, .famhx-box label {
  float:left;
  width:46%;
  margin-right: 2.5%;
  background-color:var(--inputbackground);
  border-radius:6px;
  overflow:auto;
}

.sex-box label span, .trtbp-box label span, .diab-box label span, .smoke-box label span, .fmrtob-box label span, .famhx-box label span {
  text-align:center;
  padding:1vh 0px;
  display:block;
}

.sex-box label input, .trtbp-box label input, .diab-box label input, .smoke-box label input, .fmrtob-box label input, .famhx-box label input {
  position:absolute;
  visibility: hidden;
}

.sex-box input:checked + span, .trtbp-box input:checked + span, .diab-box input:checked + span, .smoke-box input:checked + span, .fmrtob-box input:checked + span, .famhx-box input:checked + span {
  background-color:var(--accentblue);
  color: white;
}

.input-items {
  height: 15%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#sex-label, #age-label, #TC-label, #LDL-label, #HDL-label, #SBP-label, #height-label, #weight-label, #BMI-label, #diab-label, #smoke-label, #fmrtob-label, #famhx-label, #trtbp-label {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#button-box {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#alert-box {
  width: 50%;
  margin: 0 auto;
  border: solid red 1px;
  text-align: center;
  display: none;
}

.alert {
  color: red;
  font-weight: 700;
}

#calculate-risk {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  width: 20%;
  background-color: white;
  border: solid var(--accentblue) 1px;
  padding: 1%;
  border-radius: 6px;
}

#pgsGraph, #rxGraph {
  width: 100%;
}

#pgsGraph-value-box, #rxGraph-value-box {
  margin: 0 auto;
  width: 100%;
  color: rgb(50, 50, 50);
  display: none;
}

#pgsGraph-risk-box, #rxGraph-risk-box {
  margin-top: 4vh;
  margin-bottom: 4vh;
  width: 100%;
  display:flex;
  height: 8vh;
}

#pgsGraph-risk, #rxGraph-risk {
  width: 72.5%;
  text-align: left;
  font-size: 17.5px;
  font-weight: 400;
  display: inline-block;
}

#pgsGraph-risk-value, #rxGraph-risk-value {
  margin-left: 5%;
  margin-bottom: 2vh;
  width: 22.5%;
  height: 6vh;
  line-height: 6vh;
  text-align: center;

  font-size: 30px;
  display: inline-block;

  background-color: var(--graphblue); 
  border: solid var(--graphblue) 1px;
  border-radius: 15px;
  color: white;
}

#pgsGraph-risk-treatment-left-box, #pgsGraph-risk-treatment-right-box, #rxGraph-risk-treatment-left-box, #rxGraph-risk-treatment-right-box {
  width: 100%;
  display: flex;
  height: 8vh;
}

#pgsGraph-risk-t-1, #pgsGraph-risk-t-2, #rxGraph-risk-t-1, #rxGraph-risk-t-2 {
  width: 72.5%;
  text-align: left;
  font-size: 17.5px;
  font-weight: 400;
  display: inline-block;
}

#pgsGraph-risk-value-t-1, #rxGraph-risk-value-t-1 {
  margin-left: 5%;
  margin-bottom: 2vh;
  width: 22.5%;
  height: 6vh;
  line-height: 6vh;
  text-align: center;

  font-size: 30px;
  display: inline-block;

  background-color: var(--graphblue);
  border: solid var(--graphblue) 1px;
  border-radius: 15px;
  color:white;
}

#pgsGraph-risk-value-t-2 {
  margin-left: 5%;
  margin-bottom: 2vh;
  width: 22.5%;
  height: 6vh;
  line-height: 6vh;
  text-align: center;

  font-size: 30px;
  display: inline-block;
  
  background-color: var(--graphred);
  border: solid var(--graphred) 1px;
  border-radius: 15px;
  color:white;
}

#rxGraph-risk-value-t-2 {
  margin-left: 5%;
  margin-bottom: 2vh;
  width: 22.5%;
  height: 6vh;
  line-height: 6vh;
  text-align: center;

  font-size: 30px;
  display: inline-block;
  
  background-color: var(--graphlightblue);
  border: solid var(--graphlightblue) 1px;
  border-radius: 15px;
  color:white;
}

#pgs-after, #pgs-after-1 {
  font-size: 15;
  color: rgb(50, 50, 50);
  display: none;
}

.pgs-units {
  display: none;
  margin-top: 1%;
  margin-bottom: 2%;
}

#pgs-value {
  font-weight: 400;
}

#rx-sliders {
  height: auto;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: center;
}

.ldl-slider-box, .sbp-slider-box {
  flex: 50%;
  float: left;
  height: inherit;
  width: 45%;
  margin-right: 5%;
}

#ldl-value, #sbp-value {
  font-weight: 400;
}

html {
  display: table-cell;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: inline-flex;
  /*font-family: "Source Sans Pro", sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  accent-color: var(--accentblue);
}

img {
  width: 15%;
}

label {
  width: 100%;
  cursor: default;
}

input {
  cursor: pointer;
}

input[type=number] {
  width: 95%;
  padding: 2px;
}

select {
  width: 95%;
  padding: 2px;
}

#furtherinfo-title, #about-causal-ai {
  width: 100%;
  text-align: left;
  color: black;
  font-weight: 400;
}

.furtherinfo {
  width: 100%;
  text-align: left;
  color: var(--othertext);
}

.footer {
  width: 100%;
  color: var(--othertext);
  text-align: center;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
  padding-top: 5px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 100%;
  margin: 0;
}